
.ui-widget {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 1em !important;
}

.ui-accordion-header {
    font-weight:bold !important;
}

.ui-widget-content {
    font-size:80% !important;
}

#dara_additional_fields {
	background-color: lightyellow;
}

.dara_info {
	font-size: 11px;
	color:grey;
	padding-right:25%;
}
