
.ui-widget {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/* font-size: 1em !important;*/
}


.ui-widget-content, .dara_level {
  background-color: rgb(240,240,240) !important;
  background-image:none !important;
}



.ui-accordion-header {
    font-size:18px;
    font-weight:400;
}


.dataset-form h1 {
  margin-top: -30px;
}

#dara_1, #dara_2, #dara_3 {
  margin-bottom: 25px;
}

/* try later:; different colors for level head */
#dara_1 > h4 {
  background-color: #FF7373 !important;
  background-image:none !important;
}


#dara_2 > h4, #dara_Resource h4.dara_form_collapse {
 background-color: #FFD073 !important;
 background-image:none !important;
}


#dara_3 > h4, #dara_3 h4.dara_form_collapse {
 /*background-color: #C9F76F !important; */
 /* background-color: #8cc68a !important; */
 background-color: #c5e2c4 !important;
 background-image:none !important;
}


.dara_info {
	font-size: 11px;
	color:grey;
	padding-right:25%;
}

.dara_level_head {
    font-weight:400 !important;
    font-size:22px !important;
  }

.dara_level_number {
  text-align:right;
  float:right;
  font-size:60px;
  margin-top:-40px;
}

.dara_info_text {
  font-size:14px;
  color:rgb(80,80,80);
  max-width:550px;
  margin-left:15px;
  margin-bottom: 25px;
  line-height: 1.5em
}

.dara_form_header {
    font-size:16px !important;

}

/* 'add author' button */
#add_author {
    margin-left:80px;
}

#dara_additional_authors p {

/*  margin-left:-20px;*/
}

.dara_master_slave {
}

/* details selector for some fields. Only displays when required */
.dara_slave {
/*  margin-left:100px ! important; */
    float:right;
    margin-right:200px;
    margin-top:0px;
}
.dara_slave label {
  font-size: 12px;
  color:rgb(90,90,90);
}

.todo {
  font-style: normal;
  color: rgb(128,128,128);
}

.todo label:before {
  content:"TODO ";
  color:red;
  font-style:italic;
}


.select_auto > * > select {
  width:auto;

}

.introtext {
  margin-bottom:25px;
  font-size:115%;

}

/* form field font size */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
font-size:14px !important;
}

/* color of "remove author" button*/
.dara_red {
  color:  rgb(129, 6, 6) !important;
}

.dara_required label:after, .required:after {
  content:':*';
  color:rgb(129, 6, 6);
  font-weight:bold;
}


.highlighted {
  background-color: yellow;

}

.additional {
    background-color:lightyellow;
    margin-left:30px;
}

.remove {
    float:right;
}

/*****************************************************************
 * Fields that can be repeated are hidden and javascript is used *
 * to copy the hidden fields and create new ones.                *
 *****************************************************************/
.hidden  {
/*    display:none; */
    visibility:hidden;
}
.no_display {
  display: none !important;
  visibility: hidden;
}
.hidden_authorfield {
    display: none;
}

.yellow {
    background-color:lightyellow
}

/* small field lengths */
.control-small input {
    width:120px;
}

/* author form fields are set to be inline */
.inline {
    display: inline;
}

/* group of author fields */
fieldset.author {
    margin-bottom: 30px;
    margin-left: 50px;
}

/* 'X' button used to remove authors */
.remove_author {
    display:inline;
    float:left;
    margin-right:0px;
    margin-left: -20px;
    font-weight:bold;
    font-family:FontAwesome;
    font-size:0.85em;

}

/* details selector for some fields. Only displays when required */
.dara_slave select {
    width:auto;
    font-size:0.75em !important;

}

#dara_res_preselection {
    width:100%;
    height:auto;
    font-size: 36px;
    border:none;
    color:darkred;
    background:#ebebeb;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    margin-top:-10px;
    margin-bottom:25px;

}

#dara_res_preselection option {
    color:darkgrey;
}

/* 'this resource is for' block at the top of the resource form */
label[for="dara_res_preselection"] {
    font-size:normal;
    margin-left:-20px;
    text-align:left;
}

.hide {
    display:none;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}


/* jquery-ui tooltip */
.ui-tooltip-content {
    font-size:75%;
    line-height:1.4em;
    color: white;
/*    font-family:;*/
}
.ui-tooltip, .arrow:after {
    background: rgba(139,0,0,0.75) !important;
    border: 2px solid white;
  }
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
   /* font: normal 14px "Helvetica Neue", Sans-Serif;*/
    box-shadow: 0 0 7px black;
  }
  /*
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
 }
 */


/* info circle
.controls::after {
    content: '\f05a';
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    margin-left:10px;
    cursor: help;
}

*/

/* simple 'i'
.controls::after {
    content: "\f129";
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-align: right;
    font-size: 14px;
    margin-left:10px;
    cursor: help;
}
*/


/* info button to the right of the field */
.ib {
    float: right;
    position: relative;
    top: -1.75em;
    cursor: help;
    color: darkgray;
}
.ib:hover {
    color:darkred;
}

/*********************************
 *********************************
 * Buttons to add/remove authors *
 * on the resource forms         *
 *********************************
 *********************************/
/*add button*/
.plus-button {
    border: 2px solid green;
    background-color: #fff;
    font-size: 8px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
}

.plus-button:after,
.plus-button:before {
        content: "";
        display: block;
        background-color: green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.plus-button:before {
        height: 1em;
        width: 0.2em;
    }

.plus-button:after {
        height: 0.2em;
        width: 1em;
    }


/*remove button*/
.minus-button {
    border: 2px solid red;
    background-color: #fff;
    font-size: 8px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
}

.minus-button:after,
.minus-button:before {
        content: "";
        display: block;
        background-color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.minus-button:after {
        height: 0.2em;
        width: 1em;
    }

/* "AND/OR" in the author secton of the resource */
.or_divider{
    padding-left: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}
