
.ui-widget {
font-family:'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
font-size: 1em !important;
}

.ui-accordion-header {
    font-weight:bold !important;
}

.ui-widget-content {
    font-size:80% !important;
}

.dara_level {
	background-color: rgb(235,235,235) !important;

}

.dara_info {
	font-size: 11px;
	color:grey;
	padding-right:25%;
}

.dara_level_head {
    font-weight:400 !important;
    font-size:17.5px !important;
  }

.dara_info_text {
  font-size:11px;
  color:rgb(80,80,80);
  max-width:450px;
  margin-left:15px;
}

.dara_form_header {
    font-size:14px;
}