{# getting authors directly from pkg_dict is only possible if we manage to
store it properly (without validation errors). So long we'll use helpers to
convert the JSON String
{% set dara_authors = pkg_dict['dara_authors'] %}
#}
    {% set dara_authors = h.dara_authors('dataset', data) %}

    {% set journal = pkg_dict['organization']['title'] or pkg_dict['organization']['name'] %}
    {% set DOI = pkg_dict['dara_DOI'] %}
    {# {% set debug = h.dara_debug() %}#}
    <section class="package-citation">

    <h3>Citation</h3>

    {% if dara_authors %}


    {% for author in dara_authors %}
        {% if author == dara_authors[-1] %}
            {{ (author['lastname'], author['firstname']) | join(', ')}}
        {% else %}
            {{ author['lastname'] ~ ', ' ~ author['firstname']  }};
        {% endif %}
    {% endfor %}

{% endif %}


{# this is just for demo. PublicationDate will be the final key! #}
({{ pkg_dict.dara_PublicationDate or pkg_dict.dara_year }}):

{{ pkg_dict.title }}.
{% if pkg_dict.dara_currentVersion %}
Version: {{ pkg_dict.dara_currentVersion }}.
{% endif %}


{{ journal }}.
Dataset.

{% if DOI %}
<a property="schema:sameAs" href="http://dx.doi.org/{{ DOI }}">http://dx.doi.org/{{ DOI }}</a>
{% else %}
{% set url = h.full_current_url() %}
<a href="{{ url }}">{{ url }}</a>
{% endif %}


</section>
