    {# ich würde hier erstmal keinen Einleitungstext hinschreiben, zumal er auch nicht auf alle der folgenden Felder zutrifft 
    <p class="dara_info_text">
        We believe that you should cite data in just the same way that you can cite other sources of information, such as articles and books. Data citation can help by enabling easy reuse and verification of data, allowing the impact of data to be tracked, and creating a scholarly structure that recognises and rewards data producers.
    </p>
    #}
    

    {{ form.input('title', id='field-title', 
            label=_('Title'), 
            placeholder=_('eg. A descriptive title.'), 
            value=data.title, 
            error=errors.title, 
            classes=['control-full', 'control-large', 'dara_required'], 
            attrs={'data-module': 'slug-preview-target'}) }}
        
        {% set prefix = h.url_for(controller='package', action='read', id='') %}
        {% set domain = h.url_for(controller='package', action='read', 
                                    id='', qualified=true) %}
        {% set domain = domain|replace("http://", "")|replace("https://", "") %}
        {% set attrs = {
            'data-module': 'slug-preview-slug', 
            'data-module-prefix': domain, 
            'data-module-placeholder': '<dataset>'
            } 
        %}

        {{ form.prepend('name', id='field-name', label=_('URL'), 
            prepend=prefix, 
            placeholder=_('eg. my-dataset'), 
            value=data.name, 
            error=errors.name, 
            attrs=attrs) }}

          
        {{ form.markdown('notes', id='field-notes', 
            label=_('Description'), 
            placeholder=_('eg. Some useful notes about the data'), 
            value=data.notes, 
            error=errors.notes,
            )
        }}

        {# dara.js.master_slave_input() does not work properly for markdown fields
            {% set selected = dara.dara_DescriptionType %}
            {{ form.select('dara_DescriptionType', 
                id='field-dara_DescriptionType', 
                label="Type of Description",
                classes=['dara_slave'],
                options=[
                    {'value': '1', 'text' :'Abstract'}, 
                    {'value': '2', 'text' : 'Series Information'}, 
                    {'value': '3', 'text' :'Table of Contents'},
                    {'value' : '4', 'text' : 'Other'},
                ],
                error=errors.dara_DescriptionType,
                selected=selected
                ) 
            }} 
        #}   

        {{ form.input('author', label=_('Author'), 
        id='field-author', 
        placeholder=_('eg. Olaf Siegert'), 
        value=data.author, 
        error=errors.author, 
        classes=['control-medium', 'dara_required']) }}
     
        <div id="dara_additional_authors" style="margin-left:50px;">
            <div id="current_number_of_authors" style="display:none">
                {{ dara_authors|count if dara_authors else 0 }}</div>
            {% set counter = 1 %}
            
            {% if dara_authors %}
                {% for author in dara_authors %}
                    {% set counter = counter+1 %}
                    {% set name = "dara_author_" ~ counter %}
                    {% set label = 'Author ' ~ counter %}
                    {% set value = author %}
                    {% set field = 'field-' ~ name %}
                   
                {# XXX this way no validation is possible! XXX #}    
                <div class="control-group dara_author">
                    <label class="control-label" for="{{ field }}">{{ label }}</label>
                    <div class="controls ">
                        <input id="{{ field }}" type="text" name="{{ name }}" 
                        value="{{ author }}" placeholder="Joe Bloggs" />
                        <a href="#" class="dara_red" id="remove_author">Remove</a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
                  
            <div id="additional_authors">  
                <!-- add author -->
            </div>
        <p style="margin-bottom:25px"><a href="#" class="btn" id="add_author">
            Add Author</a></p>
        </div>
        

        {{ form.input('dara_PublicationDate', label=_('Publication Year'),
            id='field-dara_PublicationDate', 
            type="text",
            placeholder='eg. 2013', 
            value=dara.dara_PublicationDate,
            error=errors.dara_PublicationDate,
            classes=['dara_required'] 
            ) 
        }}
        
        {% set selected = dara.dara_Availabilitycontrolled %}
        {{ form.select('dara_Availabilitycontrolled', 
            id='field-dara_availability', 
            label=_('Availability'),
            options=[
                    {
                    'value': '', 'text':"Please select"},
                    {'value': '1', 'text' :'Free Download'}, 
                    {'value': '2', 'text' : 'Delivery on demand'}, 
                    {'value': '3', 'text' :'Onsite only'},
                    {'value' : '4', 'text' : 'Not available'},
                    {'value' : '5', 'text' : 'Unknown'},
                    ],
            selected=selected,
            classes=['dara_required']
            ) 
        }}

       {{ form.input('dara_Availabilityfree', 
                label=_('Availability (free)'),
                id='field-dara_Availabilityfree', 
                placeholder=_('eg. Die Datennutzung unterliegt schriftlichen Datenschutzvereinbarungen'), 
                value=dara.dara_Availabilityfree, 
                error=errors.dara_Availabilityfree,
                classes=['control-full']) }} 

        {# old block_package_basic_fields #}
        {# if we have a default group then this wants remembering #}
        {% if data.group_id %}
      <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
    {% endif %}
    {% set existing_org = data.owner_org or data.group_id %}
    {% if h.check_access('sysadmin') 
        or data.get('state', 'draft').startswith('draft') 
        or data.get('state', 'none') ==  'none' 
    %}
      {% set organizations_available = h.organizations_available('create_dataset') %}
      {% if organizations_available %}
        <div class="control-group">
          <label for="field-organizations" class="control-label">{{ _('Journal') }}
          </label>
          <div class="controls">
            <select id="field-organizations" name="owner_org" 
                data-module="autocomplete">
              <option value="" 
                {% if not selected_org and data.id %}
                    selected="selected" 
                {% endif %}>{{ _('Select a journal...') }}</option>
              {% for organization in organizations_available %}
                {# get out first org from users list only if there is not an existing org #}
                {% set selected_org = 
                    (existing_org and existing_org == organization.id) 
                    or (not existing_org and not data.id and organization.id == organizations_available[0].id)
                %}
                <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
    {% endif %}


    {# this is temporary. We will later 'dock' the article url with 
    dara_metadata for publications in level 2
    #}
    {{ form.input('edawax_article_url', label="URL of related article", 
        id='field-edawax_article_url', 
        placeholder='http://yourjournal.org/article-1234', 
        value=data.edawax_article_url, 
        error=errors.edawax_article_url, 
        classes=['control-medium']) }}


    {# old block package_basic_fields_tags #}
    {% set tag_attrs = {
            'data-module-tags': '', 
            'data-module': 'autocomplete', 
            'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'
            } 
        %}
        {{ form.input('tag_string', id='field-tags', 
            label=_('Keywords'), 
            placeholder=_('eg. economy, mental health, government'), 
            value=data.tag_string, error=errors.tags, 
            classes=['control-medium'], 
            attrs=tag_attrs) }}


   
