
<h4 class="dara_level_head"
    title="Metadata Level 2: Support findability of your data in disciplinary 
    portals ">Metadata Level 2 <br />
    <span style="font-size:14px;">
       Support findability of your data in disciplinary portals
    </span>
</h4>    

<div class="dara_level">

    <p class="dara_info_text">
        By adding metadata on this level your dataset can be discovered in
    disciplinary portals, by search engines or in data bases. Also linking
    data to (already published) publications is enabled. You have to fill in
    at maximum 25 metadata fields with additional required subfields.  This
    amount of information is not sufficient to link your datasets to  other
    outputs of your scientific work or to those of your institution.
    </p>

    <fieldset class="dara_master_slave">

    {{ form.input('dara_OtherTitle', label=_('Other Title'),
            id='field-dara_OtherTitle', 
            placeholder=_('eg. Subtitle, alternative title'), 
            value=dara.dara_OtherTitle, 
            error=errors,
            classes=['control-medium', 'dara_master']) 
    }}
        
    {% set selected = dara.dara_OtherTitleType %}
        {{ form.select('dara_OtherTitleType', 
            id='field-dara_OtherTitleType', 
            label="Type of other title",
            classes=['dara_slave'],
            options=[
                {'value': '1', 'text' :'Alternative Title'}, 
                {'value': '2', 'text' : 'Translated Title'}, 
                {'value': '3', 'text' :'Subtitle'},
                {'value' : '4', 'text' : 'Original Title'},
            ],
            error=errors.dara_OtherTitleType,
            selected=selected,
            ) 
        }}

    </fieldset>
    
    {{ form.input('dara_currentVersion', label=_('Current Version'),
            id='field-dara_currentVersion', 
            placeholder=_('1.1'), 
            value=dara.dara_currentVersion, 
            error=errors.dara_currentVersion, ) 
    }}

    {#TODO add more languages #}    
    {{ form.select('dara_language', id='field-dara_language', 
            label=_('Language'),
            options=[{'value' : 'eng', 'text':'English'},
                    {'value' : 'ger', 'text' : 'Deutsch'}],
            selected='eng',
            error=errors.dara_language,) 
    }}


    <fieldset class="dara_master_slave">
        {{ form.input('dara_AlternativeIdentifier_ID', 
                label=_('Alternative Identifier'),
                id='field-dara_AlternativeIdentifier_ID', 
                placeholder=_('eg. ISBN, Handle, DOI'), 
                value=dara.dara_AlternativeIdentifier_ID, 
                error=errors.dara_AlternativeIdentifier_ID, 
                classes=['dara_master']) 
        }}

        {% set selected = dara.dara_AlternativeIdentifier_Type %}
        {{ form.select('dara_AlternativeIdentifier_Type', 
            id='field-dara_AlternativeIdentifier_Type', 
            label=_('Alternative Identifier Type'),
            classes=['dara_slave'],
            options=[
                {'text' : ''},
                {'text': 'DOI', 'value': 'DOI'}, 
                {'text': 'ARK', 'value': 'ARK'}, 
                {'text': 'EAN13', 'value': 'EAN13'}, 
                {'text': 'EISSN', 'value': 'EISSN'}, 
                {'text': 'Handle', 'value': 'Handle'}, 
                {'text': 'ISBN', 'value': 'ISBN'}, 
                {'text': 'ISSN', 'value': 'ISSN'}, 
                {'text': 'ISTC', 'value': 'ISTC'}, 
                {'text': 'LISSN', 'value': 'LISSN'}, 
                {'text': 'LSID', 'value': 'LSID'}, 
                {'text': 'PURL', 'value': 'PURL'}, 
                {'text': 'UPC', 'value': 'UPC'}, 
                {'text': 'URL', 'value': 'URL'}, 
                {'text': 'URN', 'value': 'URN'}],
            error=errors.dara_AlternativeIdentifier_Type,
            selected=selected,
            ) 
        }}
    </fieldset>
    
    {% set selected = dara.dara_Universe_areaControlled %}
    {{ form.select('dara_Universe_areaControlled', 
            label=_('Geographic Coverage (controlled)'),
            id='field-dara_Universe_area', 
            error=errors.dara_Universe_area,
            options=[
                {'text' : ''},
                {'text' : 'TODO'}
            ],
            classes=['todo']
            ) }}    

    {{ form.input('dara_Universe_areaFree', 
            label=_('Geographic Coverage (free)'),
            id='field-dara_Universe_areaFree', 
            placeholder=_('eg. West-Germany'), 
            value=dara.dara_Universe_areaFree, 
            error=errors.dara_Universe_areaFree,
            classes=['control-medium']) }}

    {{ form.input('dara_Universe_sampled', 
            label=_('Sampled Universe'),
            id='field-dara_Universe_sampled', 
            placeholder=_('eg. adults in Eastern and Western Germany'), 
            value=dara.dara_Universe_sampled, 
            error=errors.dara_Universe_sampled,
        classes=['control-medium']) }}

    {{ form.markdown('dara_SelectionMethod', 
            label=_('Sampling'),
            id='field-dara_SelectionMethod', 
            placeholder=_('Describe your selection method'), 
            value=dara.dara_SelectionMethod, 
            error=errors.dara_SelectionMethod,
            classes=['control-full']) }}

    {{ form.input('dara_CollectionDate_controlled', 
            label=_('Collection Date'),
            id='field-dara_CollectionDate_controlled', 
            value=dara.dara_CollectionDate_controlled, 
            error=errors.dara_CollectionDate_controlled,
            type="date",
            classes=['control-medium', 'todo']
            ) }}

    {{ form.input('dara_CollectionDate_free', 
            label=_('Collection Date (free)'),
            id='field-dara_CollectionDate_free', 
            placeholder=_('eg. Spring 1999'), 
            value=dara.dara_CollectionDate_free, 
            error=errors.dara_CollectionDate_free,
            classes=['control-medium']) }}
    
     {% set selected = dara.dara_TimeDimension_controlled %}
        {{ form.select('dara_TimeDimension_controlled', 
            id='field-dara_TimeDimension_controlled', 
            label="Time Dimension",
            options=[
                {'value' : '', 'text' : ''},
                {'value': '1', 'text' :'Longitudinal '}, 
                {'value': '2', 
                'text' : 'Longitudinal.CohortEventBased '}, 
                {'value': '3', 'text' :'Longitudinal.TrendRepeatedCrossSection '},
                {'value' : '4', 'text' : 'Longitudinal.Panel '},
                {'value' : '5', 'text' : 'Longitudinal.Panel.Continuous'},
                {'value' : '6', 'text' : 'Longitudinal: Panel: Interval'},
                {'value' : '7', 'text' : 'Time Series'},
                {'value' : '8', 'text' : 'TimeSeries: Continuous'},
                {'value' : '9', 'text' : 'TimeSeries: Discrete'},
                {'value' : '10', 'text' : 'Cross-section'},
                {'value' : '11', 'text' : 'Cross-section ad-hoc follow-up'},
                {'value' : '12', 'text' : 'Other'}
            ],
            error=errors.dara_OtherTitleType,
            selected=selected,
            ) 
        }}
 
    {{ form.input('dara_TimeDimension_free', 
            label=_('Time Dimension (free)'),
            id='field-dara_TimeDimension_free', 
            placeholder=_('eg. Zeitreihe'), 
            value=dara.dara_TimeDimension_free, 
            error=errors.dara_TimeDimension_free,
            classes=['control-medium']) }}
            
    {#TODO attributes #}        
    {{ form.input('dara_DataCollector_name', 
            label=_('Data Collector'),
            id='field-dara_DataCollector_name', 
            placeholder=_('eg. EMNID'), 
            value=dara.dara_DataCollector_name, 
            error=errors.dara_DataCollector_name,
            classes=['control-medium']) }}

    {#TODO controlled  #}        
    {{ form.input('dara_CollectionMode_free', 
            label=_('Collection Mode'),
            id='field-dara_CollectionMode_free', 
            placeholder=_('eg. Interview'), 
            value=dara.dara_CollectionMode_free, 
            error=errors.dara_CollectionMode_free,
            classes=['control-medium']) }}

    {{ form.markdown('dara_Note_text', 
            label=_('Notes'),
            id='field-dara_Note_text', 
            placeholder=_('any additional notes'), 
            value=dara.dara_Note_txt, 
            error=errors.dara_Note_text,
            classes=['control-full']) }}

    {# now in package_basic_fields
    {{ form.input('dara_Availabilityfree', 
            label=_('Availability (free)'),
            id='field-dara_Availabilityfree', 
            placeholder=_('eg. Die Datennutzung unterliegt schriftlichen Datenschutzvereinbarungen'), 
            value=dara.dara_Availabilityfree, 
            error=errors.dara_Availabilityfree,
            classes=['control-medium']) }}
    #}

    {{ form.input('dara_Rights', 
            label=_('Rights'),
            id='field-dara_Rights', 
            placeholder=_('Copyright Joe Biggs'), 
            value=dara.dara_Rights, 
            error=errors.dara_Rights,
            classes=['control-medium']) }}          


</div>





