{# XXX New style #}

{% import 'macros/dara_form.html' as dara_form %}


<h4 class="dara_level_head"
    title="Metadata Level 2: Support findability of your data in disciplinary portals">Metadata Level 2 <br />
    <span style="font-size:14px;">
       Support findability of your data in disciplinary portals
    </span>
    <span class="dara_level_number">2</span>
</h4>    

<div class="dara_level">

    <p class="dara_info_text">If the datasets is accompanied with
    additional information (=metadata), the data becomes easier discoverable.
    Others who re-use the data and cite it in their own research help to
    raise interest in the author's research and increase the impact within the
    author's field and beyond.  By submitting these addional metadata other
    researchers could find your dataset even when they are searching for
    keywords only or for geographic locations. With these additional
    information other researchers can easily assess whether this dataset is
    suitable for their own interests and research questions. </p>



    <div id="dara_level_2">
        {{ dara_form.md(h.dara_level2_fields(), h) }}
    </div>


{# dara_level end #}
</div>

