
<h4 class="dara_level_head"
    title="Metadata Level 2: Support findability of your data in disciplinary 
    portals ">Metadata Level 2 <br />
    <span style="font-size:14px;">
       Support findability of your data in disciplinary portals
    </span>
</h4>    

<div class="dara_level">

    <p class="dara_info_text">
        By adding metadata on this level your dataset can be discovered in
    disciplinary portals, by search engines or in data bases. Also linking
    data to (already published) publications is enabled. You have to fill in
    at maximum 25 metadata fields with additional required subfields.  This
    amount of information is not sufficient to link your datasets to  other
    outputs of your scientific work or to those of your institution.
    </p>


    {{ form.input('dara_OtherTitle', label=_('Other Title'),
            id='field-dara_OtherTitle', 
            placeholder=_('eg. Subtitle, alternative title'), 
            value=dara.dara_OtherTitle, 
            error=errors,
            classes=['control-medium']) 
    }}

    {{ form.input('dara_currentVersion', label=_('Current Version'),
            id='field-dara_currentVersion', 
            placeholder=_('1.1'), 
            value=dara.dara_currentVersion, 
            error=errors.dara_currentVersion, ) 
    }}

    {#TODO add more languages #}    
    {{ form.select('dara_language', id='field-dara_language', 
            label=_('Language'),
            options=[{'value' : 'eng', 'text':'English'},
                    {'value' : 'ger', 'text' : 'Deutsch'}],
            selected='eng',
            error=errors.dara_language,) 
    }}


    {#additional identifier
    TODO need to group this! #}
    {{ form.input('dara_AlternativeIdentifier_ID', 
            label=_('Alternative Identifier'),
            id='field-dara_AlternativeIdentifier_ID', 
            placeholder=_('eg. ISBN, Handle, DOI'), 
            value=dara.dara_AlternativeIdentifier_ID, 
            error=errors.dara_AlternativeIdentifier_ID, 
            classes=['control-medium']) 
    }}

    <div style="margin-left:50px;" >
    {{ form.select('dara_AlternativeIdentifier_Type', 
        id='field-dara_AlternativeIdentifier_Type', 
        label=_('Alternative Identifier Type'),
        options=[
            {'text': 'DOI', 'value': 'DOI'}, 
            {'text': 'ARK', 'value': 'ARK'}, 
            {'text': 'EAN13', 'value': 'EAN13'}, 
            {'text': 'EISSN', 'value': 'EISSN'}, 
            {'text': 'Handle', 'value': 'Handle'}, 
            {'text': 'ISBN', 'value': 'ISBN'}, 
            {'text': 'ISSN', 'value': 'ISSN'}, 
            {'text': 'ISTC', 'value': 'ISTC'}, 
            {'text': 'LISSN', 'value': 'LISSN'}, 
            {'text': 'LSID', 'value': 'LSID'}, 
            {'text': 'PURL', 'value': 'PURL'}, 
            {'text': 'UPC', 'value': 'UPC'}, 
            {'text': 'URL', 'value': 'URL'}, 
            {'text': 'URN', 'value': 'URN'}],
        error=errors.dara_AlternativeIdentifier_Type,) 
    }}

    </div>

    {# geographic cover FREE. TODO: need also with controlled vocabulary
     here #}
    {{ form.input('dara_Universe_area', 
            label=_('Geographic Coverage'),
            id='field-dara_Universe_area', 
            placeholder=_('eg. West-Germany'), 
            value=dara.dara_Universe_area, 
            error=errors.dara_Universe_area,
            classes=['control-medium']) }}

    {{ form.input('dara_Universe_sampled', 
            label=_('Sampled Universe'),
            id='field-dara_Universe_sampled', 
            placeholder=_('eg. Persons in private households'), 
            value=dara.dara_Universe_sampled, 
            error=errors.dara_Universe_sampled,
        classes=['control-medium']) }}

    {{ form.markdown('dara_SelectionMethod', 
            label=_('Sampling'),
            id='field-dara_SelectionMethod', 
            placeholder=_('Describe your selection method'), 
            value=dara.dara_SelectionMethod, 
            error=errors.dara_SelectionMethod,
            classes=['control-full']) }}

    {#TODO need also CollectionDate_formal here #}
    {{ form.input('dara_CollectionDate_free', 
            label=_('Collection Date'),
            id='field-dara_CollectionDate_free', 
            placeholder=_('eg. Spring 1999'), 
            value=dara.dara_CollectionDate_free, 
            error=errors.dara_CollectionDate_free,
            classes=['control-medium']) }}

    {#TODO need also TimeDimension_controlled here #}
    {{ form.input('dara_TimeDimension_free', 
            label=_('Collection Date'),
            id='field-dara_TimeDimension_free', 
            placeholder=_('eg. Zeitreihe'), 
            value=dara.dara_TimeDimension_free, 
            error=errors.dara_TimeDimension_free,
            classes=['control-medium']) }}
            
    {#TODO attributes #}        
    {{ form.input('dara_DataCollector_name', 
            label=_('Data Collector'),
            id='field-dara_DataCollector_name', 
            placeholder=_('eg. EMNID'), 
            value=dara.dara_DataCollector_name, 
            error=errors.dara_DataCollector_name,
            classes=['control-medium']) }}

    {#TODO controlled  #}        
    {{ form.input('dara_CollectionMode_free', 
            label=_('Collection Mode'),
            id='field-dara_CollectionMode_free', 
            placeholder=_('eg. Interview'), 
            value=dara.dara_CollectionMode_free, 
            error=errors.dara_CollectionMode_free,
            classes=['control-medium']) }}

    {{ form.markdown('dara_Note_text', 
            label=_('Notes'),
            id='field-dara_Note_text', 
            placeholder=_('any additional notes'), 
            value=dara.dara_Note_txt, 
            error=errors.dara_Note_text,
            classes=['control-full']) }}

    {{ form.input('dara_Availabilityfree', 
            label=_('Availability (free)'),
            id='field-dara_Availabilityfree', 
            placeholder=_('eg. Die Datennutzung unterliegt schriftlichen Datenschutzvereinbarungen'), 
            value=dara.dara_Availabilityfree, 
            error=errors.dara_Availabilityfree,
            classes=['control-medium']) }}

    {{ form.input('dara_Rights', 
            label=_('Rights'),
            id='field-dara_Rights', 
            placeholder=_('Copyright Joe Biggs'), 
            value=dara.dara_Rights, 
            error=errors.dara_Rights,
            classes=['control-medium']) }}          


</div>





