{% import 'macros/dara_form.html' as dara_form %}



<h4 class="dara_level_head"
    title="Metadata Level 3: Interrelate all kinds of scientific output">Metadata Level 3 <br />
    <span style="font-size:14px;">
       Interrelate all kinds of scientific output
    </span>
    <span class="dara_level_number">3</span>
</h4>    

<div class="dara_level">

    <p class="dara_info_text">By submitting even more information, the
    author's datasets will be interlinked to his or her other scientific
    resources - for example to related publications, or the author's
    affiliation.  To fill in the required information, some information
    provided by library authority files may be useful.</p>

    {#
    <p class="dara_form_header">Publication</p>
    #}

    {# TODO add possiblity to add more than one publication  #}
    {# TODO add unstructured publication #}
        {% set fields = h.dara_publication_fields %}
        {% set publications = h.dara_publications() %}
        {% set class = 'hidden' if dara_publications else '' %}


    <div id="pubs" style="display:none">{{ '0' if publications else '2' }}</div>

    {#
        <p>
           <a href="#" id="add_publication" class="btn">Add Publication
               </a>
        </p>
    #}
                

        <div id="dara_Publication">
           
            <h4 class="dara_form_header dara_form_collapse">Publication</h4>

            <div>
            
            {#
                <a href="#" class="remove dara_red" id="remove_publication">
                    <span class="icon-minus-sign"/></a>
            #}
            
                {{ dara_form.md(fields, "dataset", h) }}

            </div>


        </div>
                
        {#
        <div id="dara_level_3" style="margin-top:25px;">
         <p class="dara_form_header"></p>
            {{ dara_form.md(h.dara_level3_fields(), h) }}
        

        </div>
        #}


{# dara_level end #}
</div>


