<h4 class="dara_level_head"
    title="Metadata Level 3: Interrelate all kinds of scientific output">Metadata Level 3 <br />
    <span style="font-size:14px;">
       Interrelate all kinds of scientific output
    </span>
</h4>    

<div class="dara_level">

    <p class="dara_info_text">
    
    By integrating authority files a linkage across various data stocks is
    enabled (for instance it is possible to link persons to their affiliations,
    to other publications, their institutions or to their respective fields of
    research). Also future reuse of these (meta)data by semantic web
    technologies is enabled. 25 metadata fields with additional subfields are
    required. In addition all IDs for the different authority files must be
    submitted. Not all information of the so called data lifecycle can be
    included.  </p>

    <p class="dara_form_header">Publication</p>

    {{ form.input('dara_Author_name', label=_('Author of Publication'),
            id='field-dara_Author_name', 
            placeholder=_('eg. Name of the author'), 
            value=dara.dara_dara_Author_name, 
            error=errors,
            classes=['control-medium']) 
    }}
    
    <div class="dara_master_slave">
        <div class="dara_master">master1:
    {{ form.input('dara_Publication_title', label=_('Title of Publication'),
            id='field-dara_Publication_title', 
            placeholder=_(''), 
            value=dara.dara_Publication_title, 
            error=errors.dara_Publication_title,
            classes=['control-medium'] ) 
    }}
        </div>
    
        <div class="dara_master_slave dara_slave">
            <div class="dara_slave dara_master">slave1 and master2:
            {{ form.input('dara_Publication_Year', label=_('Year of Publication 1'),
                    id='field-dara_Publication_Year', 
                    placeholder=_('eg. 2013'), 
                    value=dara.dara_Publication_Year, 
                    error=errors.dara_Publication_Year, ) 
            }}
            </div>

            <div class="dara_slave">slave 1.1
                {{ form.input('dara_Publication_Year', label=_('Year of Publication'),
                    id='field-dara_Publication_Year', 
                    placeholder=_('eg. 2013'), 
                    value=dara.dara_Publication_Year, 
                    error=errors.dara_Publication_Year, ) 
                }}
            </div>
        </div
    

    <div class="dara_slave">slave2:
    {{ form.input('dara_Publication_Year', label=_('Year of Publication 2'),
            id='field-dara_Publication_Year', 
            placeholder=_('eg. 2013'), 
            value=dara.dara_Publication_Year, 
            error=errors.dara_Publication_Year, ) 
    }}
</div>


    

    <div class="dara_master_slave">
        <div class="dara_master">
        {{ form.input('dara_Publication_PID', 
                label=_('Persistent Identifier of Publication'),
                id='field-dara_Publication_PID', 
                placeholder=_('eg. 10.434/econ.23Aq'), 
                value=dara.dara_Publication_PID, 
                error=errors.dara_Publication_PID, ) 
        }}
        </div>

        <div class="dara_slave">
        {{ form.select('dara_PublicationPID_Type', 
            id='field-dara_PublicationPID_Type', 
            label=_('Publication Persistent Identifier Type'),
            options=[
                {'text': '', 'value': ''},
                {'text': 'DOI', 'value': 'DOI'}, 
                {'text': 'ARK', 'value': 'ARK'}, 
                {'text': 'EAN13', 'value': 'EAN13'}, 
                {'text': 'EISSN', 'value': 'EISSN'}, 
                {'text': 'Handle', 'value': 'Handle'}, 
                {'text': 'ISBN', 'value': 'ISBN'}, 
                {'text': 'ISSN', 'value': 'ISSN'}, 
                {'text': 'ISTC', 'value': 'ISTC'}, 
                {'text': 'LISSN', 'value': 'LISSN'}, 
                {'text': 'LSID', 'value': 'LSID'}, 
                {'text': 'PURL', 'value': 'PURL'}, 
                {'text': 'UPC', 'value': 'UPC'}, 
                {'text': 'URL', 'value': 'URL'}, 
                {'text': 'URN', 'value': 'URN'}],
            error=errors.dara_PublicationPID_Type,) 
        }}
        </div>
            
    </div>


</div>