{% set DOI = pkg['dara_DOI'] %}
{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}


{% if pkg %}
  <section class="module module-narrow">
    <div class="module context-info">
      <div class="module-content">
        <h1 class="heading" style="text-align:center";>{{ pkg.title or pkg.name }}</h1>
        
        
    <div class="nums" style="border:none;">
<div id="DOI" style="
    text-align:center;">
    {% set url = h.url_for(controller='ckanext.dara.controller:DaraController', action='doi',id=pkg.name) %}
      
  {% if not DOI and can_edit %}
         <a class="btn btn-success" href="{{ url }}">
         + Get DOI</a>
  
   {% elif DOI and can_edit %}
  <a style="color:darkgreen"
     href="{{ url }}">doi:<br />{{ DOI }}</a>
   {% elif DOI and not can_edit %}
   <span style="color:darkgreen; border-bottom:1px dotted darkgreen;
       border-top:1px dotted darkgreen; padding:6px 0px 6px 0px;"
       ">doi:<br />{{ DOI }}</span>
  {% endif %}
</div>
{# for now noone uses follow function in dara context 
          <dl>
            <dt>{{ _('Followers') }}</dt>
            <dd>{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</dd>
          </dl>
        </div>
        {% if not hide_follow_button %}
          <div class="follow_button">
            {{ h.follow_button('dataset', pkg.name) }}
          </div>
        {% endif %}
#}

      </div>
    </div>
  </section>
{% endif %}

