{#
{% ckan_extends %}
#}

{% import 'macros/form.html' as form %}

{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work. #}
{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields_maintainer %}
{% endblock %}


{% block dataset_fields %}
{% endblock %}


{% block package_metadata_fields %}
{% resource 'dara/dara.css' %}
{% resource 'dara/dara.js' %}
{% resource 'dara/jquery-ui.js' %}
{# {% resource 'dara/jquery-migrate.js' %} #}
{# {% resource 'dara/jquery-ui.css' %} #}



<p class="introtext">
    some additional information about metadata, da|ra and so on.

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
amet, consetetu

</p>


<div id="dara_2" style="margin-bottom:25px;">
        {% snippet "package/snippets/dara_level2.html", form=form,
            errors=errors, dara_type='dataset'%}  
    </div>
    
<div id="dara_3" style="margin-bottom:25px;">
        {% snippet "package/snippets/dara_level3.html", form=form,
            errors=errors, dara_type='dataset' %}  
</div>






{#
wir lassen stage3 drinnen. damit ließe sich dann im package dara die template
original erhalten und nur in z.B. einem Theme und Layout package speziell f.
edawax anpassen / ersetzen. Hier jetzt erstmal noch in dara package

TODO: special edawax tweaks should go into theme package



<h4>Disclaimer</h4>
<div style="font-size:125%">
<p>By clicking 'Finish' and submitting your dataset you'll agree with the
following...</p>

<p>Note: we don't need this stage for data input this time, since we put all
dara metadata in stage1. We leave it here
for testing purposes and perhaps it would be useful for several other usecases,
such as 'Disclaimer'</p>

</div>
#}

{% endblock %}





