{% ckan_extends %}

{% block metadata_fields %}


 {#   {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %} #}
{% endblock %}

{% block form_actions %}

    <div class="form-actions zbw-box box-full">
      <a name="related_pub"></a>

      {% block disclaimer %}
      {#XXX  we'll definitely need a special edawax disclaimer here #}
      {% endblock %}


      {% block delete_button %}
        {{ super() }}
      {% endblock %}

      {% block save_button %}
        {{ super() }}
       {% endblock %}

       {{ form.required_message() }}

    </div>
{% endblock %}

