{% ckan_extends %}

{% block package_metadata_fields %}

{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work. #}
{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields_maintainer %}
{% endblock %}

{% block dataset_fields %}
{% endblock %}

{#
{% block package_basic_fields_license %}
<div class="control-group">
  {% set error = errors.license_id %}
  <label class="control-label" for="field-license">{{ _("License") }}</label>
  <div class="controls">
    <select id="field-license" name="license_id" data-module="autocomplete">
      {% for licence_desc, licence_id in licences|sort if licence_desc  %}
        <option value="{{ licence_id }}" {% if data.get('license_id', 'notspecified') == licence_id %}selected="selected"{% endif %}>{{ licence_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
      {% trans %}
        License definitions and additional information can be found
        at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
      {% endtrans %}
    </span>
  </div>
</div>
{% endblock %}
#}

{#XXX das custom html funktioniert NICHT in package_basic_fields #}

{% block package_metadata_author %}
    {{ form.input('author', label=_('Author'), 
    id='field-author', 
    placeholder=_('Joe Bloggs'), 
    value=data.author, 
    error=errors.author, 
    classes=['control-medium']) }}
{% endblock %}



{% block package_metadata_fields_custom %}

    {% set dara = h.dara_extras() %}

    {{ form.input('dara_OtherTitle', label=_('Other Title'),
            id='field-dara_OtherTitle', 
            placeholder=_('eg. Subtitle, alternative title'), 
            value=dara.dara_OtherTitle, 
            error=errors.dara_OtherTitle, 
            classes=['control-medium']) }}

    {{ form.input('dara_currentVersion', label=_('Current Version'),
            id='field-dara_currentVersion', 
            placeholder=_('1.1'), 
            value=dara.dara_currentVersion, 
            error=errors.dara_currentVersion, 
            ) }}

    {#TODO add more languages #}
    {{ form.select('dara_language', id='field-dara_language', 
        label=_('Language'),
        options=[{'value' : 'eng', 'text':'English'},
                 {'value' : 'ger', 'text' : 'Deutsch'}],
        selected='eng',
        error=errors.dara_language,
        ) }}

    {#additional identifier
    TODO need to group this! #}
    {{ form.input('dara_AlternativeIdentifier_ID', 
            label=_('Alternative Identifier'),
            id='field-dara_AlternativeIdentifier_ID', 
            placeholder=_('eg. ISBN, Handle'), 
            value=dara.dara_AlternativeIdentifier_ID, 
            error=errors.dara_AlternativeIdentifier_ID, 
            classes=['control-medium']) }}
    
    <div style="margin-left:50px;" >
    {{ form.select('dara_AlternativeIdentifier_Type', id='field-dara_AlternativeIdentifier_Type', 
        label=_('Alternative Identifier Type'),
        options=[
                {'text': 'ARK', 'value': 'ARK'}, 
                {'text': 'DOI', 'value': 'DOI'}, 
                {'text': 'EAN13', 'value': 'EAN13'}, 
                {'text': 'EISSN', 'value': 'EISSN'}, 
                {'text': 'Handle', 'value': 'Handle'}, 
                {'text': 'ISBN', 'value': 'ISBN'}, 
                {'text': 'ISSN', 'value': 'ISSN'}, 
                {'text': 'ISTC', 'value': 'ISTC'}, 
                {'text': 'LISSN', 'value': 'LISSN'}, 
                {'text': 'LSID', 'value': 'LSID'}, 
                {'text': 'PURL', 'value': 'PURL'}, 
                {'text': 'UPC', 'value': 'UPC'}, 
                {'text': 'URL', 'value': 'URL'}, 
                {'text': 'URN', 'value': 'URN'}],
        error=errors.dara_AlternativeIdentifier_Type,
        ) }}
    </div>

     {#geographic cover FREE. TODO: need also with controlled vocabulary here #}
     {{ form.input('dara_Universe_area', 
            label=_('Geographic Coverage'),
            id='field-dara_Universe_area', 
            placeholder=_('eg. West-Germany'), 
            value=dara.dara_Universe_area, 
            error=errors.dara_Universe_area,
            classes=['control-medium']) }}

    {{ form.input('dara_Universe_sampled', 
            label=_('Sampled Universe'),
            id='field-dara_Universe_sampled', 
            placeholder=_('eg. Persons in private households'), 
            value=dara.dara_Universe_sampled, 
            error=errors.dara_Universe_sampled,
        classes=['control-medium']) }}


    {{ form.markdown('dara_SelectionMethod', 
            label=_('Sampling'),
            id='field-dara_SelectionMethod', 
            placeholder=_('Describe your selection method'), 
            value=dara.dara_SelectionMethod, 
            error=errors.dara_SelectionMethod,
            classes=['control-full']) }}


    {#TODO need also CollectionDate_formal here #}
    {{ form.input('dara_CollectionDate_free', 
            label=_('Collection Date'),
            id='field-dara_CollectionDate_free', 
            placeholder=_('eg. Spring 1999'), 
            value=dara.dara_CollectionDate_free, 
            error=errors.dara_CollectionDate_free,
            classes=['control-medium']) }}

    {#TODO need also TimeDimension_controlled here #}
    {{ form.input('dara_TimeDimension_free', 
            label=_('Collection Date'),
            id='field-dara_TimeDimension_free', 
            placeholder=_('eg. Zeitreihe'), 
            value=dara.dara_TimeDimension_free, 
            error=errors.dara_TimeDimension_free,
            classes=['control-medium']) }}

            
    {#TODO attributes #}        
    {{ form.input('dara_DataCollector_name', 
            label=_('Data Collector'),
            id='field-dara_DataCollector_name', 
            placeholder=_('eg. EMNID'), 
            value=dara.dara_DataCollector_name, 
            error=errors.dara_DataCollector_name,
            classes=['control-medium']) }}

    {#TODO controlled  #}        
    {{ form.input('dara_CollectionMode_free', 
            label=_('Collection Mode'),
            id='field-dara_CollectionMode_free', 
            placeholder=_('eg. Interview'), 
            value=dara.dara_CollectionMode_free, 
            error=errors.dara_CollectionMode_free,
            classes=['control-medium']) }}

    {{ form.markdown('dara_Note_text', 
            label=_('Notes'),
            id='field-dara_Note_text', 
            placeholder=_('any additional notes'), 
            value=dara.dara_Note_txt, 
            error=errors.dara_Note_text,
            classes=['control-full']) }}

    {{ form.input('dara_Availabilityfree', 
            label=_('Availability (free)'),
            id='field-dara_Availabilityfree', 
            placeholder=_('eg. Die Datennutzung unterliegt schriftlichen Datenschutzvereinbarungen'), 
            value=dara.dara_Availabilityfree, 
            error=errors.dara_Availabilityfree,
            classes=['control-medium']) }}

    {{ form.input('dara_Rights', 
            label=_('Rights'),
            id='field-dara_Rights', 
            placeholder=_('Copyright Joe Biggs'), 
            value=dara.dara_Rights, 
            error=errors.dara_Rights,
            classes=['control-medium']) }}



{% endblock %}






{% endblock %}


