{#
{% ckan_extends %}
#}

{#TODO needs some refactoring. CKAN now has visibility selector in template,
that we should integrate somehow here #}

{% import 'macros/form.html' as form %}
{% import 'macros/dara_form.html' as dara_form %}

{% set c = h.dara_c %}
{#{% set dara_authors = h.dara_authors() %}#}
{% set form_style = c.form_style or c.action %}
{# {% set debug = h.dara_debug() %} #}
{% set pkg = c.pkg_dict %}


{% resource 'dara/jquery-ui.js' %}
{% resource 'dara/dara.css' %}
{% resource 'dara/dara.js' %}
{# {% resource 'dara/econws.js' %} #}
{# {% resource 'dara/jquery-migrate.js' %} #}
{#{% resource 'dara/jquery-ui.css' %}#}

{% block package_basic_fields_license %}
{% endblock %}

{% block package_basic_fields_title %}
{#
{% if form_style=='edit' %}
    <h1>Edit Dataset</h1>
{% endif %}
#}
{% endblock %}

{% block package_basic_fields_url %}
{% endblock %}

{% block package_basic_fields_description %}
{% endblock %}

{% block package_metadata_author %}
{% endblock %}


{#

{% block package_basic_fields_org %}
{% endblock %}
#}


{% block package_basic_fields_tags %}
{% endblock %}

{% block package_basic_fields_custom %}


{# TODO: generate hidden inputs from schema.hidden_fields() #}
<input type="hidden" value="{{ h.dara_doi(data) }}" name="dara_DOI_Proposal" />
<input type="hidden" value="{{ pkg['dara_DOI'] }}"  name="dara_DOI" />
<input type="hidden" value="{{ pkg['dara_registered'] }}"
                     name="dara_registered" />
<input type="hidden" value="{{ pkg['dara_updated'] }}"
                     name="dara_updated" />
<input type="hidden" value="{{ h.in_review(pkg) }}"
       name="dara_edawax_review" />
<input type="hidden" name="private" value="{{ h.is_private(pkg) }}" />

{% snippet "package/snippets/dara_level1.html", form=form,
    dara_type='dataset', errors=errors, data=data %}

{% endblock %}



{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}


    {% block package_metadata_fields_visibility %}
    {% endblock %}


  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
  {% endif %}

{% endblock %}
