{% ckan_extends %}
{% import 'macros/dara_form.html' as dara_form %}
{% import 'macros/dara_authors.html' as authors %}
{% import 'macros/form.html' as form %}


{% set res = h.dara_resource() %}


{% block basic_fields %}

{% set options = [
{'text': 'Data', 'value': 'data'},
{'text': 'Text/Documentation/PDF', 'value': 'text'},
{'text': 'Code', 'value': 'code'},
{'text': 'Other', 'value': 'other'}
]
%}
 
<div id="pres" title="Select a category for the resource you'd like to add. This will influence the number of metadata fields. In general, 'Data' has more fields than 'Code' or 'Text'.">
    
{% set selected = res['dara_res_preselection'] or 'data' %}
{{ form.select('dara_res_preselection', 
                id = 'dara_res_preselection',
                label = "This Resource is",
                options = options,
                error=errors,
                selected=selected,
                classes=['select-auto', 'control-select'],
                )
}}

</div>


{{ super() }} 
{% endblock basic_fields %}



{% block metadata_fields %}
    {% resource 'dara/dara.css' %}
    {% resource 'dara/underscore.js' %}
    {#XXX do we need this?
    {% resource 'dara/jquery-ui.js' %} 
    #}
    {% resource 'dara/dara.js' %}

        
    {% set res_type = res.dara_type or
        h.get_request_param('dara_res_preselection'), 'resource' %}

    <input type="hidden" value="{{ res.dara_doiid or
                            h.dara_resource_doiid() }}"
                    name="dara_doiid" />
    <input type="hidden" value="{{ res.dara_DOI }}" 
                    name="dara_DOI" />

    
    {#XXX DEBUG: dataset authors are overwritten by resource authors; off for 
    now 
    {{ authors.authors('resource', h) }}
    #}
       
    {#
    {{ dara_form.md(1, 'resource', h) }}
    #}
    

    <fieldset id="dara_data">
        {{ dara_form.md(1, 'data', h) }}
        {{ dara_form.md(2, 'data', h) }}
    </fieldset>

    <fieldset id="dara_text">
        {{ dara_form.md(1, 'text', h) }}
        {{ dara_form.md(2, 'text', h) }}
    </fieldset>

    <fieldset id="dara_code">
        {{ dara_form.md(1, 'code', h) }}
        {{ dara_form.md(2, 'code', h) }}
    </fieldset>

    <fieldset id="dara_other">
        {{ dara_form.md(1, 'other', h) }}
        {{ dara_form.md(2, 'other', h) }}
    </fieldset>




    {#
    <div id="dara_2">
            {% snippet "package/snippets/dara_level2.html", form=form,
                errors=errors, dara_type=res_type %}  
    </div>
    

    <div id="dara_3">
         {% snippet "package/snippets/dara_level3.html", form=form,
                errors=errors, dara_type=res_type %}  
    </div>
    #}


    {{ super() }}
{% endblock %}

{#XXX Previous does delete all data from the dataset ??? Until we have
the reason for this remove Previous button here #}
{% block previous_button %}
{#        <button class="btn" name="save" value="go-dataset" type="submit">{{
    _('Previous') }}</button> #}
{% endblock %}


