{% ckan_extends %}
{% import 'macros/dara_form.html' as dara_form %}
{% import 'macros/dara_authors.html' as authors %}



{% block basic_fields %}

    {% block basic_fields_format %}{% endblock %}
    {{ super() }} 
{% endblock basic_fields %}



{% block metadata_fields %}
    {% resource 'dara/dara.css' %}
    {% resource 'dara/dara.js' %}
    {% resource 'dara/jquery-ui.js' %}
    
    {% set res = h.dara_resource() %}
    
    <input type="hidden" value="{{ res.dara_doiid or
                            h.dara_resource_doiid() }}"
                    name="dara_doiid" />
    <input type="hidden" value="{{ res.dara_DOI }}" 
                    name="dara_DOI" />

    
    {#XXX DEBUG: dataset authors are overwritten by resource authors; off for 
    now 
    {{ authors.authors('resource', h) }}
    #}
    
    
      
    {{ dara_form.md(1, 'resource', h) }}
    
    <div id="dara_2">
            {% snippet "package/snippets/dara_level2.html", form=form,
                errors=errors, dara_type='resource' %}  
    </div>
    <div id="dara_3">
         {% snippet "package/snippets/dara_level3.html", form=form,
                errors=errors, dara_type='resource' %}  
    </div>



    {{ super() }}
{% endblock %}

