{# dara form template macros #}

{% import 'macros/form.html' as form %}


{#XXX for some reason helpers (h) are not in here automatically, so we need it as
    a parameter here #}
{% macro md(fields, type, h) -%}
     
    {% set dara = h.dara_pkg() %}
    {#    {% set debug = h.dara_debug() %} #}

    {% for key, values in fields.iteritems() %}
        {% set values = values %}
        {% set widget = values.widget %}
        {% set id = 'dara_' ~ key %}
        
        {% if type == 'resource' %}
            {% set res = h.dara_resource() %}
            {% set value = res[id] or dara[id] %}
        {% else %}
            {% set value = dara[id] %}
        {% endif %}
        
        {% set field_id = 'field-' ~id %}
        {% set label = widget['name'] %}
        {% set additional_classes = widget['classes'] %}
        {% set classes = [] %}
        
        {% if widget['placeholder'] %}
           {% set placeholder = widget['placeholder'] %}
        {% else %}
           {% set placeholder = '' %}
        {% endif %}

        {% for c in additional_classes %}
           {% do classes.append(c) %}
        {% endfor %}
    
        {# this relies on the correct sort order in fields dict! #}
        {% if widget['role'] == 'master' %}
            {% do classes.append('dara_master') %} 
            <fieldset class="dara_master_slave">
        {% endif %}
        
        {% if widget['role'] == 'slave' %}
            {% do classes.append('dara_slave') %}
        {% endif %}

        {% if widget['size'] == 'medium' %}
            {% do classes.append('control-medium') %}
        {% endif %}

        {% if widget['size'] == 'small' %}
            {% do classes.append('control-small') %}
        {% endif %}
        
        {% if widget['form_type'] == 'input' %}
            {{ form.input(id, label=label,
                    id= field_id,
                    placeholder=placeholder, 
                    value=value,
                    error=errors,
                    classes=classes) 
            }}
        {% endif %}


        {% if widget['form_type'] == 'select' %}
            {% set options = widget['options'] %}
            
            {% if type == 'resource' %}
                {% set selected = res[id] or options[0] %}
            {% else %}
                {% set selected = dara[id] or options[0] %}
            {% endif %}

            {% do classes.append('select-auto')  %}
            {% do classes.append('control-select') %}
            {{ form.select(id, 
                id = field_id,
                label = label,
                options = options,
                error=errors,
                selected=selected,
                classes=classes,
                )
                        
            }}
        {% endif %}

        {% if widget['form_type'] == 'text' %}
            {% do classes.append('control-full') %}
            {{ form.markdown(id, label=label,
                    id= field_id,
                    placeholder='', 
                    value=value,
                    error=errors,
                    classes=classes) 
            }}
        {% endif %}
        

        {% if widget['form_type'] == 'date' %}
             {{ form.input(id, label=label,
                    id= field_id,
                    placeholder='', 
                    value=value,
                    error=errors,
                    type="date",
                    classes=classes) 
            }}
        {% endif %}

        
    
        {#XXX this works only when there's only one slave! #}
        {% if widget['role'] == 'slave' %}
            </fieldset>
        {% endif %}


    {% endfor %}

{%- endmacro %}


