{# dara form template macros #}

{% import 'macros/form.html' as form %}
{% asset 'dara/dara.js' %}



{#
Override of form.select, which treats 'selected' as string. We need it as list,
so we just replace '==' with 'in'

Creates all the markup required for an select element. Handles matching labels to
inputs and error messages.

A field should be a dict with a "value" key and an optional "text" key which
will be displayed to the user. We use a dict to easily allow extension in
future should extra options be required.

name        - The name of the form parameter.
id          - The id to use on the input and label. Convention is to prefix with 'field-'.
label       - The human readable label.
options     - A list/tuple of fields to be used as <options>.
selected    - The value of the selected <option>.
error       - A list of error strings for the field or just true to highlight the field.
classes     - An array of classes to apply to the control-group.
is_required - Boolean of whether this input is requred for the form to validate

Examples:

  {% import 'macros/form.html' as form %}
  {{ form.select('year', label=_('Year'), options=[{'name':2010, 'value': 2010},{'name': 2011, 'value': 2011}], selected=2011, error=errors.year) }}

#}
{% macro select(name, id='', label='', options='', selected='', error='', classes=[], attrs={}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <select id="{{ id or name }}" name="{{ name }}" {{ form.attributes(attrs) }}>
      {% for option in options %}
        <option value="{{ option.value }}"{% if option.value in  selected %} selected{% endif %}>{{ option.text or option.value }}</option>
      {% endfor %}
    </select>
  {% endcall %}
{% endmacro %}





{#XXX for whatever reason helpers (h) are not in here automatically, so we need it as
    a parameter here #}
{# level is obsolete but there are still many callers that submit them; #}
{% macro md(type, h, data, errors) -%}


{% set fields = h.dara_fields(type) %}
    {% set dara = h.dara_pkg() %}

    {#    {% set debug = h.dara_debug(data) %} #}

    {% for field in fields %}

        {% set widget = field.widget %}
        {% set id = 'dara_' ~ field.id %}

        {# for now we inherit resource values from dataset #}
        {% if type in ('data', 'text', 'code', 'other') %}
            {% set res = h.dara_resource() %}
            {% set value = res[id] or dara[id]%}
        {% else %}
            {% set value = data[id] %}

            {#XXX temporary! We'll need a 'default' for all fields in schema #}
            {% if id == 'dara_currentVersion' %}
                {% set value = data[id] or '1' %}
            {% endif %}

        {% endif %}

        {% set field_id = 'field-' ~id %}
        {% set label = widget.name %}
        {% set additional_classes = widget.classes %}
        {% set classes = [] %}
        {% set attrs = {"data-infotext": widget.info} %}

        {#
        {% if error %}
            {% do classes.append('error') %}
        {% endif %}
        #}

        {#TODO optimize! #}
        {% if 'dara_required' in additional_classes %}
            {% do attrs.update({'required': 'required'}) %}
            {% if h.has_doi(h.dara_pkg()) %}
              {% do attrs.update({'readonly': 'readonly'}) %}
            {% endif %}
        {% endif %}


        {% if 'select.jels' in additional_classes %}
           {% do attrs.update({'class': 'select_jels', 'multiple': 'multiple',
            'style': 'width: 320px'
            }) %}
        {% endif %}

        {% if 'select.geo' in additional_classes %}
           {% do attrs.update({'class': 'select_geo', 'multiple': 'multiple',
            'style': 'width: 337px'
            }) %}
        {% endif %}


        {% if widget.placeholder %}
           {% set placeholder = widget.placeholder %}
        {% else %}
           {% set placeholder = '' %}
        {% endif %}

        {% for c in additional_classes %}
           {% do classes.append(c) %}
        {% endfor %}

        {# this relies on the correct sort order in fields dict! #}
        {% if widget.role == 'master' %}
            {% do classes.append('dara_master') %}
            <fieldset class="dara_master_slave">
        {% endif %}

        {% if widget.role == 'slave' %}
            {% do classes.append('dara_slave') %}
        {% endif %}

        {% if widget.size == 'medium' %}
            {% do classes.append('control-medium') %}
        {% endif %}

        {% if widget.size == 'small' %}
            {% do classes.append('control-small') %}
        {% endif %}

        {% if widget.form_type == 'input' %}
            {{ form.input(id,
                    label=label,
                    id= field_id,
                    placeholder=placeholder,
                    value=value,
                    error = errors[id],
                    attrs = attrs,
                    classes=classes)
            }}

        {% endif %}

        {% if widget.form_type == 'select' %}
            {% set options = widget.options %}

            {% if type in  ('data', 'text', 'code', 'other') %}
                {% set res = h.dara_resource() %}
                {% set selected = res[id] or dara[id] or options[0] %}

            {% else %}
                {% set selected = data[id] or options[0] %}
            {% endif %}

            {% do classes.append('select-auto')  %}
            {% do classes.append('control-select') %}

            {# using our custom select #}
            {{ select(id,
                id = field_id,
                label = label,
                options = options,
                error=errors.id,
                selected=selected,
                classes=classes,
                attrs=attrs,
                )

            }}
        {% endif %}

        {% if widget.form_type == 'text' %}
            {% do classes.append('control-full') %}
            {{ form.markdown(id, label=label,
                    id= field_id,
                    placeholder='',
                    value=value,
                    error=errors,
                    classes=classes)
            }}
        {% endif %}


        {% if widget.form_type == 'date' %}
            {% if field.id == 'temporalCoverageFormal' %}
             {{ start_end_date(h, data, errors) }}
            {% endif %}

            {#% if field.id == 'temporalCoverageFormal' %}
             {{ form.input(id, label=label,
                    id= field_id,
                    placeholder='',
                    value=value,
                    error=errors,
                    type="date",
                    classes=classes)
            }}
            {% endif %#}

        {% endif %}

        {% if widget.form_type == 'number' %}
        {% do attrs.update({'min': widget.min, 'max': widget.max}) %}
             {{ form.input(id, label=label,
                    id= field_id,
                    placeholder=placeholder,
                    value=value,
                    error=errors[id],
                    type="number",
                    attrs = attrs,
                    classes=classes)
            }}
        {% endif %}




        {#XXX this works only when there's only one slave! #}
        {% if widget.role == 'slave' %}
            </fieldset>
        {% endif %}




    {% endfor %}

{%- endmacro %}

{% macro start_end_date(h, data, error) %}
    {% set fields = h.dara_fields('data') %}

    <div class="control-small control-group">

            {% for field in fields %}
                    {% set start = {'element': '',
                                    'widget': '',
                                    'id': '',
                                    'value': '',
                                    'field_id': '',
                                    'label': '',
                                    'additional_classes': '',
                                    'classes': [],
                                    'attrs': ''} %}

                    {% set end = {'element': '',
                                  'widget': '',
                                  'id': '',
                                  'value': '',
                                  'field_id': '',
                                  'label': '',
                                  'additional_classes': '',
                                  'classes': [],
                                  'attrs': ''} %}

                    {% if field.id == 'temporalCoverageFormal' %}
                        {% if start.update({'widget': field.widget}) %}{% endif %}
                        {% if start.update({'element': field}) %}{% endif %}
                        {% if start.update({'field_id': 'dara_' + field.id}) %}{% endif %}
                        {% if start.update({'value': data[start.field_id]}) %}{% endif %}
                        {% if start.update({'id': 'field-' + start.field_id}) %}{% endif %}
                        {% if start.update({'label': start.widget.name}) %}{% endif %}
                        {% if start.update({'additional_classes': start.widget.classes}) %}{% endif %}
                        {% if start.update({'attrs': {"data-infotext": start.widget.info}}) %}{% endif %}
<div class="control-group {{ " " ~ classes | join(' ') }}">
    <label class="control-label" for="{{ for }}">{% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}{{ label or _('Temporal Coverage') }}</label>
        <div class="controls{{ " " ~ control_classes | join(' ') }}">
            <input id="{{ start.id }}" type="date"
                               name="{{ start.field_id }}" value="{{ start.value | empty_and_escape }}"
                               placeholder="" {{ attributes(start.attrs) }} /> &mdash;


                    {% elif field.id == 'temporalCoverageFormal_end' %}
                        {% if end.update({'widget': field.widget}) %}{% endif %}
                            {% if end.update({'element': field}) %}{% endif %}
                            {% if end.update({'field_id': 'dara_' + field.id}) %}{% endif %}
                            {% if end.update({'value': data[end.field_id]}) %}{% endif %}
                            {% if end.update({'id': 'field-' + end.field_id })%}{% endif %}
                            {% if end.update({'label': end.widget.name}) %}{% endif %}
                            {% if end.update({'additional_classes': end.widget.classes}) %}{% endif %}
                            {% if end.update({'attrs': {"data-infotext": end.widget.info}}) %}{% endif %}

            <input id="{{ end.id }}" type="date"
                                   name="{{ end.field_id }}" value="{{ end.value | empty_and_escape }}"
                                   placeholder="" {{ attributes(end.attrs) }} />
      {{ extra_html }}
    </div>
  </div>

                    {% endif %}
            {% endfor %}
        </div>
{% endmacro %}

{%- macro attributes(attrs={}) -%}
  {%- for key, value in attrs.items() -%}
  {{ " " }}{{ key }}{% if value != "" %}="{{ value }}"{% endif %}
  {%- endfor -%}
{%- endmacro -%}

{# overridding the form for image upload #}
{% macro image_upload(data, errors, field_url='image_url', field_upload='image_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='',
                      attrs={})  %}
  {% set placeholder = placeholder if placeholder else _('http://example.com/my-image.jpg') %}
  {% set url_label = url_label or _('Image URL')  %}
  {% set upload_label = upload_label or _('Image')  %}

  {% if is_upload_enabled %}
  <div class="image-upload" data-module="image-upload" data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
       data-module-field_url="{{ field_url }}" data-module-field_upload="{{ field_upload }}" data-module-field_clear="{{ field_clear }}" data-module-upload_label="{{ upload_label }}">
  {% endif %}

  {{ form.input(field_url, label=url_label, id='field-image-url', placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full'], attrs=attrs) }}

  {% if is_upload_enabled %}
    {{ form.input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full'], attrs=attrs) }}
    {% if is_upload %}
      {{ form.checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
    {% endif %}
  {% endif %}

  {% if is_upload_enabled %}</div>{% endif %}

{% endmacro %}
