{% ckan_extends %}
{% set DOI = package['dara_DOI'] %}
{% set DOI_Test = package['dara_DOI_Test'] %}
{% if DOI %}
    {% set pkg_url = "http://dx.doi.org/" ~ DOI  %}
{% endif %}
{% set dara_authors = h.dara_authors('dataset', package) %}
{% set submission_id = package['dara_jda_submission_id'] %}
{% set is_admin = h.check_journal_role(package, 'admin') or h.check_access('sysadmin') %}
{% set use_testserver = h.dara_use_testserver() %}


{#
{% set dara_debug = h.dara_debug(package) %}
#}

    {% block heading %}
    {% if submission_id and is_admin %}
        <div style="float:right; color: grey; ">
            {{ submission_id }}
        </div>
    {% endif %}
    {% if not h.hide_from_reviewer(package) %}
      {% snippet 'package/snippets/authors.html', dara_authors=dara_authors %}
    {%%}
      {% snippet 'package/snippets/authors.html', dara_authors="" %}
    {%%}

    {{ super() }}
    {% endblock %}

      {% block resources_outer %}
      <div style="margin-top:0.3em">
      {% if DOI %}
         {% snippet 'package/snippets/doi.html', DOI=DOI, test="false" %}
      {% elif DOI_Test and use_testserver %}
         {% snippet 'package/snippets/doi.html', DOI=DOI_Test, test="true" %}
      {% endif %}
      </div>

      {{ super() }}

      {% endblock %}
