{% ckan_extends %}


{% block info_module %}
    <section class="module module-narrow module-shallow">
        <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What info to enter?') }}</h2>
        <div class="module-content">
        <p>
            Please provide some information about your entire data submission,
            such as some common information about all your files and data.
            This information is what users see when they access yóur submission.
        </p>
        </div>
    </section>
{% endblock %}

