{% extends 'package/edit_base.html' %}
{#{% set pkg = h.dara_pkg() %} #}
{#{% set debug = h.dara_debug() %}#}
{% set pkg = c.pkg_dict %}

{% set DOI = pkg['dara_DOI'] %} 
{#{% set DOI = h.dara_doi(pkg) %} #}


{% if not pkg['dara_registered'] %}
    {% set submit = 'Register' %}
{% else %}
    {% set submit = 'Update' %}
{% endif %}


{% block primary_content_inner %}
{{ super() }}

    <h1>DOI Information and Registration</h1>
    <div id="doi_info">
 <div id="register" 
    style="float:right; text-align:center; background-color: lightyellow;
        border:1px solid grey; min-width:200px; margin-bottom:25px;">

    
     <p style="background-color:#2d2d2d; width:100%; font-size:125%;
     font-weight:normal; color:white; ">Register at da|ra</p>
     <div id="doi_form" style=" padding:10px 10px 10px 10px;">
    <form action="/dataset/{{pkg['id']}}/dara_register" method='post'>
        <input style="margin-top:-15px; margin-right:3px;" type="checkbox" name="testserver" value="true" checked
        />Test
         
        <input type="checkbox" name="DOI" value="true"
        style="margin-left:15px; margin-right:3px; margin-top:-15px"/>Get DOI <br /><br />
        
        <input class="btn btn-primary" type="submit" value="{{ submit }}" />
    </form>
    </div>
    </div>

    <table>
        <tr>
        <td>DOI: </td>

        <td>{% if DOI %}
            {{ DOI }}
      {% else %}<span style="color:darkred">No DOI yet</span>
    {% endif %}
        </td>
        </tr>
        <tr>
            <td>Registered: </td>
            <td>{{ pkg['dara_registered'] }}</td>
        </tr>
        <tr>
            <td>Updated: </td>
            <td>{{ pkg['dara_updated'] }}</td>
        </tr>

        <tr>

            <td>DOI Proposal: </td>
            <td><span style="color:darkred"> {{ pkg['dara_DOI_Proposal']
                    }}</span></td>
        </tr>
    </table>
        

    <p style="margin-top:24px;"><a href="/dataset/{{pkg['id']}}/dara_xml">View da|ra metadata
        XML</a></p>
       
    

       </div>

{% endblock %}
