{% extends 'package/edit_base.html' %}
{% set pkg = h.dara_pkg() %} 
{#{% set debug = h.dara_debug() %} #}
{# {% set pkg = c.pkg_dict %} #}

{% set isSysadmin = h.check_access('sysadmin', context) %}
{% set DOI = pkg['dara_DOI'] %} 
{% set registered = pkg['dara_registered'] %}
{% set updated = pkg['dara_updated'] %}

{# defaults = nothing registered #}
{% set submit = 'Register' %}
{% set register_title = "Register at da|ra" %}
{% set register_background = "darkred" %}
{% set register_text = "This dataset has not been registered and has no DOI." %}

{# registered #}
{% if registered %}
    {% set submit = 'Update' %}
    {% set register_title = "Registered at da|ra" %}
    {% set register_background = "darkgreen" %}
    {% set register_text = "This dataset has been registered, but has not
    received a DOI yet. You can either check to recieve a DOI, just update the
    metadata, or register further resources below." %}
{% endif %}

{% if DOI %}
    {% set register_text = "This dataset has already been registered and
    received a DOI. You can, however, update the metadata at da|ra or register
    further resources below." %}
{% endif %}



{% block primary_content_inner %}
{{ super() }}


<h1>DOI Registration</h1>
    
<form action="/dataset/{{pkg['id']}}/dara_register" method='post'>

<div id="register" 
    style="float:right; text-align:center; width:200px;
        margin:10px 0px 0px 10px; margin-top:-60px;">

    
    <p style="background-color:{{ register_background }}; width:100%; font-size:125%;
    font-weight:normal; color:white; ">{{ register_title }}</p>
     
    <div id="doi_form" style=" padding:0px 10px 10px 10px;">
        
        <p style="font-size:0.8em; line-height:normal;">{{ register_text }}</p>  
        
        {% if isSysadmin %} 
        <input style="margin-top:-15px; margin-right:3px;" type="checkbox" name="testserver" value="true" checked
        />Test
        {% endif %}
         
        {% if not DOI %}
        <input type="checkbox" name="DOI" value="true"
        style="margin-left:15px; margin-right:3px; margin-top:-15px"/>Get DOI
        {% endif %}
        
        <p style="margin-top:12px;">
        <input class="btn btn-primary" type="submit" value="{{ submit }}" />
        </p>
    

    </div>
</div>

<div id="dataset">
<h2>Dataset</h2>
    <table>
    {% if DOI %}
        <tr>
            <td>DOI: </td>
            <td><span style="font-size:125%; color: darkgreen">{{ DOI }}</span</td>
        </tr>
    {% else %}
        <tr>
            <td>DOI Proposal: </td>
            <td><span style="color:darkred"> {{ pkg['dara_DOI_Proposal']
                    }}</span></td>
        </tr>
    {% endif %}
 
    {% if registered %} 
    <tr>
        <td>Registered: </td>
        <td>{{ registered}}</td>
    </tr>
    {% endif %}

    {% if updated %}
    <tr>
        <td>Updated: </td>
        <td>{{ updated }}</td>
    </tr>
    {% endif %}
    
        </table>
        

    {% if isSysadmin %}
        <p style="margin-top:12px;"><a href="/dataset/{{pkg['id']}}/dara_xml">XML</a></p>
    {% endif %}
       
</div>
    
<div id="resources" style="margin-top:36px;">  
  <h2>Resources</h2>
  <p class="description">By default, single resources do not get a DOI, only the dataset as a
  collection. Here you can, however, select resources that you would like to
  get their own DOI. Please avoid to assign DOIs to non-essential files, like
  Readme.txt or similar. Note that you cannot assign DOIs to resources with
  external URLs.</p>

    {% set resources = pkg['resources'] %}
    
    {% if resources %}
      <ul class="resource-list">
          {% for res in resources %}
          
         

{# originally from resource_item.html ##############################}

{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
{#{% set xml = "/dataset/{{ pkg['id'] }}/resource/{{ res['id'] }}/dara_xml" %}
#}


<li class="resource-item" data-id="{{ res.id }}">
  
   
  <div style="float:right; margin-left:20px; text-align:right;" >
    {% if h.resource_is_internal(res) %}
      <input style="margin-top:-15px;" type="checkbox" name="{{ res.id }}"
      value="register" /> 
      {% if not res['dara_DOI'] %}
      Get DOI 
      {% else %}
      Update
      {% endif %}
      
      {% if isSysadmin %}
      <span style="margin-left:12px;">
          <a href="{{ url }}/dara_xml">XML</a></span>
      {% endif %}
      
      <p class="description">
      {% if res['dara_DOI'] %}
      DOI: <span style="color:darkgreen">{{ res['dara_DOI'] }}</span>
      {% elif isSysadmin %}
      DOI Proposal: {{ pkg.dara_DOI_Proposal }}.{{ res['dara_doiid'] }}
      {% endif %}
      </p>
  
      {% else %}
      No DOI assignable
  {% endif %}
  
  </div>

  <a class="heading" href="{{ url }}" 
      title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}
    <span class="format-label" 
        property="dc:format" 
        data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}
    </span>
    
    {# XXX throws an error, off for now
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
    #}

  </a>

  <p class="description">
    {% if res.description %}
      {{ h.markdown_extract(res.description, extract_length=80) }}
    {% endif %}
  </p>
 
</li>
{# end resource item ############################################ #}

        
         {% endfor %}
      </ul>
    {% else %}
      {% if h.check_access('resource_create', pkg) %}
          {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
            <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
      {% else %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
      {% endif %}
    {% endif %}
<!-- end resources -->
</div>





</form>


{% endblock %}
